.cardLink {
  color: inherit !important;
}

.cardLink:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.favouriteButtonUnselected {
  color: #ffc107 !important;
  background-color: #ffffff !important;
  border-color: #ffc107 !important;
}

.favouriteButtonSelected {

}
